$accent-color: #0082c8;
$main-color-text: #2f2f2f;
$primary-white-color: #ffffff;
$body-bcg-color: #1d1e1e;
$body-bcg-accent: #a7a7ad;
$modal-bcg-color: rgba(0, 130, 200, 0.3);
$stats-bcg-color: rgba(0, 0, 0, 0.5);
$circle-white-bcg: linear-gradient(-50deg, #ffffff 0%, #ffffff 100%);
$circle-accent-bcg: linear-gradient(-50deg, #0082c8 0%, #0082c8 100%);
$circles-animation: 500ms cubic-bezier(0.3, 0.5, 0.4, 0.9) infinite alternate-reverse;
$cubic: cubic-bezier(0.3, 0.5, 0.4, 0.9);
$font-family: 'Lato', sans-serif;

body {
  background-color: $body-bcg-color;
  background-image: radial-gradient(circle at center center, $body-bcg-accent, $body-bcg-color),
    repeating-radial-gradient(
      circle at center center,
      $body-bcg-accent,
      $body-bcg-accent,
      18px,
      transparent 36px,
      transparent 18px
    );
  background-blend-mode: multiply;
  font-family: $font-family;
  padding-top: 50px;
}
body .modal {
  background-color: $modal-bcg-color;
}
html {
  box-sizing: border-box;
  height: 100%;
}
.search-form {
  position: relative;
  width: 400px;
  background: var(--color-brand);
  border-radius: 10px;
  margin: 0 auto 40px;
}
.input,
.button {
  height: 50px;
  border: 0;
  color: $main-color-text;
  font-size: 18px;
}
.input[type='search'] {
  outline: 0;
  width: 100%;
  padding: 0 15px;
  border-radius: 10px;
  appearance: none;
  transition: all 0.3s $cubic;
  transition-property: width, border-radius;
  position: relative;
}
.button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 80px;
  font-weight: bold;
  background: $accent-color;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: filter 0.3s $cubic;
}
.button:hover {
  filter: brightness(0.8);
}
.input:not(:placeholder-shown) {
  border-radius: 10px 0 0 10px;
  width: calc(100% - 80px);
  + button {
    display: block;
  }
}
.input:focus::placeholder {
  color: $accent-color;
}
.label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.gallery {
  padding: 0 20px;
}
.grid {
  display: grid;
  max-width: 100%;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: dense;
  grid-gap: 15px;
}
.grid-item:nth-child(1n) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.grid-item:nth-child(2n) {
  grid-column: span 1;
  grid-row-start: span 2;
}
.grid-item:nth-child(3n) {
  grid-column: span 2;
  grid-row: span 1;
}
.grid-item:nth-child(4n) {
  grid-column: span 1;
  grid-row: span 1;
}
.item {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  cursor: pointer;
}
.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.stats {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 25%;
  padding: 0 5px;
  border-radius: 0 0 10px 10px;

  opacity: 0;
  transition: opacity $cubic;
  background-color: $stats-bcg-color;

  color: $primary-white-color;
}
.item:hover .stats {
  opacity: 1;
}
.stats-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(100% / 4 - 5px);

  font-size: 9px;

  &:not(:last-child) {
    margin-right: 5px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 17px;
  }
}
.stats-item .material-icons {
  color: $accent-color;
  margin-right: 5px;
  font-size: 10px;

  @media screen and (min-width: 1280px) {
    font-size: 19px;
  }
}
.circles {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-top: 30px;
}
.circle {
  --sz: 4vmin;
  --tX: 0;
  animation: $circles-animation;
  --hm: 3vmin;
  height: var(--sz);
  width: var(--sz);
  border-radius: 50%;
  transform: translateX(var(--tX));
  mix-blend-mode: lighten;
}
.white {
  background: $circle-white-bcg;
  margin-right: var(--hm);
  animation: attract-white $circles-animation;
}
.green {
  background: $circle-accent-bcg;
  margin-left: var(--hm);
  animation: attract-green $circles-animation;
}
@keyframes attract-white {
  to {
    transform: translateX(calc(var(--sz) + calc(var(--hm) / 4)));
  }
}
@keyframes attract-green {
  to {
    transform: translateX(calc(var(--sz) * -1 - calc(var(--hm) / 4)));
  }
}
.scroll-to-top {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  position: fixed;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
  background-color: transparent;
  transform: rotate(-45deg);

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: 10px 10px 0 0;
    border-style: solid;
    border-color: $primary-white-color;
    transition: 200ms $cubic;
    display: block;
    transform-origin: 100% 0;
  }

  &:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 10px 0 0;
    border-style: solid;
    border-color: $primary-white-color;
    transform-origin: 100% 0;
    transition: 200ms $cubic;
  }

  &:hover::after {
    transform: rotate(45deg);
    border-color: $accent-color;
    height: 120%;
    top: -88%;
  }
  &:hover::before {
    border-color: $accent-color;
    transform: scale(0.8);
  }
}
.scroll-to-top.active {
  display: block;
}
.is-hidden {
  display: none;
}
.is-shown {
  display: flex;
  align-items: center;
  justify-content: center;
}
