body {
  background-color: #1d1e1e;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #a7a7ad, #1d1e1e),
    repeating-radial-gradient(
      circle at center center,
      #a7a7ad,
      #a7a7ad,
      18px,
      transparent 36px,
      transparent 18px
    );
  background-blend-mode: multiply;
  font-family: 'Lato', sans-serif;
  padding-top: 80px;
}
html {
  box-sizing: border-box;
  height: 100%;
}
.form {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: 0.7rem;
  margin: 0 auto 30px;
}
.input,
.button {
  height: 5rem;
  border: 0;
  color: #2f2f2f;
  font-size: 1.8rem;
}
.input[type='search'] {
  outline: 0;
  width: 100%;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  position: relative;
}
.button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 6rem;
  font-weight: bold;
  background: #57bd84;
  border-radius: 0 0.7rem 0.7rem 0;
  cursor: pointer;
  transition: filter 0.3s cubic-bezier(0, 0, 0.43, 1.49);
}
.button:hover {
  filter: brightness(0.8);
}
.input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: calc(100% - 6rem);
  + button {
    display: block;
  }
}
.input:focus::placeholder {
  color: #57bd84;
}
.label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.list {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px -15px 0;
}
.item {
  list-style: none;
  margin: 0 15px 15px 0;
}
.image {
  border-radius: 10px;
}
.button--more {
  position: unset;
  padding: 0 30px;
  border-radius: 0.7rem;
  margin: 30px auto 0;
}
.blocks {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.block {
  --sz: 4vmin;
  --tX: 0;
  --animation: 500ms cubic-bezier(0.3, 0.5, 0.4, 0.9) infinite alternate-reverse;
  --hm: 3vmin;
  height: var(--sz);
  width: var(--sz);
  background-image: var(--bg);
  border-radius: 50%;
  transform: translateX(var(--tX));
  mix-blend-mode: lighten;
}
.white {
  --bg: linear-gradient(-50deg, #ffffff 0%, #ffffff 100%);
  margin-right: var(--hm);
  animation: attract-white var(--animation);
}
.green {
  --bg: linear-gradient(50deg, #57bd84 0%, #57bd84 100%);
  margin-left: var(--hm);
  animation: attract-green var(--animation);
}
@keyframes attract-white {
  to {
    transform: translateX(calc(var(--sz) + calc(var(--hm) / 4)));
  }
}
@keyframes attract-green {
  to {
    transform: translateX(calc(var(--sz) * -1 - calc(var(--hm) / 4)));
  }
}
.is-hidden {
  display: none;
}
.is-shown {
  display: flex;
  align-items: center;
  justify-content: center;
}
